.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 4px solid var(--color-steel-3); /* Светлый фон */
  border-top: 4px solid var(--color-blue); /* Синяя "полоса" */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
