@import './reset.scss';

:root {
  --color-light-steel-0: #f8f9fa;
  --color-light-steel-1: #e9ecef;
  --color-light-steel-2: #dee2e6;
  --color-light-steel-3: #ced4da;
  --color-light-steel-4: #adb5bd;
  --color-light-steel-5: #6c757d;
  --color-light-steel-6: #495057;
  --color-light-steel-7: #343a40;
  --color-light-steel-8: #212529;
  --color-light-blue: #40aae8;
  --color-dark-blue: #438eba;
}
