.wrapper {
  display: flex;
  gap: 8px;
  overflow: auto;
  margin: 0 -16px;
  padding: 0 16px;
  user-select: none;
  cursor: grab;
  position: relative;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-steel-1);
    border-radius: 16px;
    margin: 0 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-steel-3);
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-steel-4);
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 12px 8px;
  border-radius: 56px;
  background-color: var(--color-steel-1);
  margin-bottom: 8px;

  &_active {
    background-color: var(--color-blue);

    & > p,
    & > *:last-child {
      color: var(--text-white);
    }
  }

  &_date {
    color: var(--color-steel-4);
    font-weight: 500;
    font-size: 12px;
  }

  &_t {
    color: var(--color-steel-8);
    font-weight: 700;
    font-size: 14px;
  }
}
