.wrapper {
  border: 3px solid var(--color-steel-3);
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  border-radius: 24px;
  padding: 16px;
  box-shadow: 5px 5px 15px 2px var(--color-steel-2);
  background-color: var(--color-steel-0);
}

.header {
  display: flex;
  justify-content: space-between;

  &_left {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &_city {
    font-size: 16px;
    line-height: 18px;
    color: var(--color-steel-8);
  }

  &_date {
    font-size: 12px;
    color: var(--color-steel-4);
    font-weight: 500;
  }

  &_setting {
    height: 32px;
    width: 32px;
    fill: var(--color-steel-3);
    cursor: pointer;
  }
}

.temperature {
  font-size: 80px;
  line-height: 88px;
  font-weight: 700;
  color: var(--color-steel-8);
}

.divider {
  height: 1px;
  background-color: var(--color-steel-3);
  margin: 8px -16px;
}
